.container2{
  margin-top: 20px;
}

.btn{
  margin-left: 10px;
  margin-bottom: 20px;
}

.form-check{
  margin-left:7px;
}

.red{
  background-color: red;
  padding: 20px;
  margin: 10px;
  color: white;
  width: 20px;
  text-align: center;
}


.red{
  background-color: black;
  padding:20px;
  margin: 10px;
  color:white;
  width: 20px;
  text-align: center;
}


.myCard{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
