<form style="display: block">
<div class="container2">
<button (click)="returnNumb()"  type="button" class="btn btn-primary">Start</button>
<button (click)="stopNumb()" type="button" class="btn btn-danger">Stop</button>
<button (click)="resetInterval()" type="button" class="btn btn-secondary">Reset</button>

</div>

  <div style="display: flex; justify-content: flex-start; margin-left: 10px">
    <input type="text">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
      <label class="form-check-label" for="exampleRadios1">
       Red
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
      <label class="form-check-label" for="exampleRadios2">
        Black
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" >
      <label class="form-check-label" for="exampleRadios3">
       Zero
      </label>
    </div>
    <p style="margin-left: 7px">Balance: </p>
  </div>
  <hr>
</form>
<div></div>

<div class="myCard"  [ngClass]="getClass()" *ngFor="let numb of numbArray; let i = index" appSetBackground="{{numb}}">{{ numb }}</div>

